/***/
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(to left, rgba(211, 211, 211, 0.801), rgba(128, 128, 128, 0.801));
}
h1 {
	font-size: 45px;
	text-align: center;
	border: 1px solid #e3e3e3;
	box-shadow: 0 2px 12px #e3e3e3;
}

.calculatrice {
	width: 320px;
	margin: 100px auto;
}

#main {
	background-color: #e3e3e3;
	padding: 10px;
	font-size: 35px;
	width: 295px;
	height: 45px;
	text-align: right;
	border: 3px solid #333;
}
input[type="button"] {
	background-color: #333;
	height: 80px;
	width: 80px;
	color: #fff;
	font-size: 30px;
	border: 1px solid #000;
	float: left;
}

.btn {
	width: 160px !important;
}
